<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> # name="arm" 


    <xacro:property name="arm_base_length" value="0.1" />
    <xacro:property name="arm_base_width" value="0.1" />
    <xacro:property name="arm_base_height" value="0.025" />

    <xacro:property name="arm_shoulder_radius" value="0.0250" />
    <xacro:property name="arm_shoulder_length" value="0.125" />

    <xacro:property name="arm_upper_arm_radius" value="0.0125" />
    <xacro:property name="arm_upper_arm_length" value="0.15" />

    <xacro:property name="arm_elbow_radius" value="0.0125" />
    <xacro:property name="arm_elbow_length" value="0.025" />

    <xacro:property name="arm_forearm_radius" value="0.0125" />
    <xacro:property name="arm_forearm_length" value="0.125" />

    <xacro:property name="arm_wrist_length" value="0.025" />
    <xacro:property name="arm_wrist_width" value="0.025" />
    <xacro:property name="arm_wrist_height" value="0.0125" />

    <xacro:property name="arm_hand_length" value="0.025" />
    <xacro:property name="arm_hand_width" value="0.025" />
    <xacro:property name="arm_hand_height" value="0.005" />



    <link name="arm_base_link">
        <visual>
            <geometry>
                <box size="${arm_base_length} ${arm_base_width} ${arm_base_height}" />
            </geometry>
            <origin xyz="0 0 ${arm_base_height / 2.0}" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <box size="${arm_base_length} ${arm_base_width} ${arm_base_height}" />
            </geometry>
            <origin xyz="0 0 ${arm_base_height / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_shoulder_link">
        <visual>
            <geometry>
                <cylinder radius="${arm_shoulder_radius}" length="${arm_shoulder_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_shoulder_length / 2.0}" rpy="0 0 0" />
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${arm_shoulder_radius}" length="${arm_shoulder_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_shoulder_length / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_upper_arm_link">
        <visual>
            <geometry>
                <cylinder radius="${arm_upper_arm_radius}" length="${arm_upper_arm_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_upper_arm_length / 2.0}" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${arm_upper_arm_radius}" length="${arm_upper_arm_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_upper_arm_length / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_elbow_link">
        <visual>
            <geometry>
                <cylinder radius="${arm_elbow_radius}" length="${arm_elbow_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_elbow_length / 2.0}" rpy="0 0 0" />
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${arm_elbow_radius}" length="${arm_elbow_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_elbow_length / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_forearm_link">
        <visual>
            <geometry>
                <cylinder radius="${arm_forearm_radius}" length="${arm_forearm_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_forearm_length / 2.0}" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${arm_forearm_radius}" length="${arm_forearm_length}" />
            </geometry>
            <origin xyz="0 0 ${arm_forearm_length / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_wrist_link">
        <visual>
            <geometry>
                <box size="${arm_wrist_length} ${arm_wrist_width} ${arm_wrist_height}"/>
            </geometry>
            <origin xyz="0 0 ${arm_wrist_height / 2.0}" rpy="0 0 0" />
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <box size="${arm_wrist_length} ${arm_wrist_width} ${arm_wrist_height}"/>
            </geometry>
            <origin xyz="0 0 ${arm_wrist_height / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="arm_hand_link">
        <visual>
            <geometry>
                <box size="${arm_hand_length} ${arm_hand_width} ${arm_hand_height}"/>
            </geometry>
            <origin xyz="0 0 ${arm_hand_height / 2.0}" rpy="0 0 0" />
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <box size="${arm_hand_length} ${arm_hand_width} ${arm_hand_height}"/>
            </geometry>
            <origin xyz="0 0 ${arm_hand_height / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <link name="tool0" />



    <joint name="arm_joint1" type="revolute">
        <parent link="arm_base_link" />
        <child link="arm_shoulder_link" />
        <origin xyz="0 0 ${arm_base_height}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="${-pi}" upper="${pi}" effort="100" velocity="100" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="arm_joint2" type="revolute">
        <parent link="arm_shoulder_link" />
        <child link="arm_upper_arm_link" />
        <origin xyz="0 0 ${arm_shoulder_length}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="0" upper="2.5" effort="100" velocity="100" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="arm_joint3" type="revolute">
        <parent link="arm_upper_arm_link" />
        <child link="arm_elbow_link" />
        <origin xyz="0 0 ${arm_upper_arm_length}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="0" upper="2.5" effort="100" velocity="100" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="arm_joint4" type="revolute">
        <parent link="arm_elbow_link" />
        <child link="arm_forearm_link" />
        <origin xyz="0 0 ${arm_elbow_length}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <limit lower="${-pi}" upper="${pi}" effort="100" velocity="100" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="arm_joint5" type="revolute">
        <parent link="arm_forearm_link" />
        <child link="arm_wrist_link" />
        <origin xyz="0 0 ${arm_forearm_length}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <limit lower="${-pi/2}" upper="${pi/2}" effort="100" velocity="100" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="arm_joint6" type="continuous">
        <parent link="arm_wrist_link" />
        <child link="arm_hand_link" />
        <origin xyz="0 0 ${arm_wrist_height}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <dynamics friction="0.05" damping="0.1" />
    </joint>

    <joint name="hand_tool_joint" type="fixed">
        <parent link="arm_hand_link" />
        <child link="tool0" />
        <origin xyz="0 0 ${arm_hand_height}" rpy="0 0 0" />
    </joint>

</robot>