<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <ros2_control name="CarRobotHardwareInterface" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            
            <!-- <plugin>car_base_hardware/CarBaseHardwareInterface</plugin>
            <param name="serial_port">/dev/esp32</param>
            <param name="baud_rate">115200</param>
            <param name="timeout_ms">500</param>
            <param name="startup_delay_ms">2000</param> -->

            <!-- Optional - velocity PID gains sent to the ESP32 on activation -->
            <!-- <param name="kp">1.0</param>
            <param name="ki">0.0</param>
            <param name="kd">0.0</param> -->
        </hardware>

        <joint name="base_left_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>

        <joint name="base_right_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>

    </ros2_control>
</robot>
