<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <material name="blue">
        <color rgba="0 0 0.5 1" />
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name="orange">
        <color rgba="1.0 0.5 0 1" />
    </material>

    <material name="yellow">
        <color rgba="1.0 1.0 0 1" />
    </material>

    <xacro:macro name="box_inertia" params="m x y z o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m/12) * (y**2 + z**2)}" ixy="0" ixz="0" 
                     iyy="${(m/12) * (x**2 + z**2)}" iyz="0" 
                     izz="${(m/12) * (x**2 + y**2)}"/>
        </inertial>
    </xacro:macro>


    <xacro:macro name="cylinder_inertia" params="m r l o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m/12) * (3*r**2 + l**2)}" ixy="0" ixz="0" 
                     iyy="${(m/12) * (3*r**2 + l**2)}" iyz="0" 
                     izz="${(m/2) * (r**2)}"/>
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="sphere_inertia" params="m r o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m*(2/5)) * (r**2)}" ixy="0" ixz="0" 
                     iyy="${(m*(2/5)) * (r**2)}" iyz="0" 
                     izz="${(m*(2/5)) * (r**2)}"/>
        </inertial>
    </xacro:macro>

</robot>